html, body {
  background-color: rgb(0, 0, 0, 0.7);
  font: 16px Verdana, Helvetica, Arial, sans-serif;
  color: LightSkyBlue;
  height: 100%;
  text-align: center;
}

.border-right {
  border-right: 1px solid;
  color: LightSkyBlue;
}

.border-bottom {
  border-bottom: 1px solid;
  color: LightSkyBlue;
}

.border-top {
  border-top: 1px solid;
  color: LightSkyBlue;
}